* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#header_topo {




	width: 100%;
	height: 200px;
	top: 0;

}
header {
	width: 100%;
	height: 75%;
	background-color: #6DDBE8;
	float: center;
	font: sans-serif;
	font-size: 50px;

}
nav {
	width: 100%;
	height: 25%;
	background-color: pink;
	float: left;

}

#conteudos {
	width: 100%;
	height: 500px;

}
article {
	width: 80%;
	height: 100%; 
	float: right;
	background-color: #6DDBE8;

}
aside {
	width: 20%;
	height: 100%;
	float: left;
	background-color: #6DDBE8;
	font-size: 15px;

}

footer {
	width: 100%;
	height: 300px;
	float: left;
	bottom: 0px;
	background-color: #6DDBE8;
	text-align: center;
}